body {
  font-family: "Ubuntu", sans-serif;
}

header {
}

main {
}

nav {
}

aside {
}

footer {
}

.hangman-board {
  border: 1px solid black;
  padding: 5px;
  margin: auto;
}

img {
  object-fit: scale-down;
}

.word {
  margin: 5px;
  padding: 5px;
}

.wordform {
  margin: 25px;
  padding: 25px;
  border: 1px solid black;
}

.hidden {
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 25px 25px 25px;
}

div {
  padding-top: 5px;
  display: grid;
}

p {
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.letterbuttons {
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 25px 25px 25px;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  align-items: stretch;
  border: 1px solid black;
}

.winguesslose {
  min-height: 250px;
  min-height: 250px;
}

#wordboard {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
  margin: 15px;
  max-width: 500px;
}
