* {
}

h1 {
  text-align: center;
}

.hangman-board {
  background-color: chartreuse;
  min-height: 500px;
  max-height: 500px;
  min-width: 500px;
  max-width: 500px;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
}

form {
  margin: auto;
}
